.DS_Store
.sass-cache

app/config/email.php
app/config/database.php

app/cache/*
!app/cache/index.html
!app/cache/.htaccess

app/logs/*
!app/logs/index.html
!app/logs/.htaccess

public/cache/*
!public/cache/index.html

docs/*