/* line 6, ../../app/sass/photographer.sass */
#loki-homme {
  text-indent: -9999px;
  width: 263px;
  height: 54px;
  background: url('/img/sprite-s72077df3ca.png') no-repeat 0 -683px;
}

/* line 9, ../../app/sass/photographer.sass */
#minshi-homme {
  text-indent: -9999px;
  width: 263px;
  height: 54px;
  background: url('/img/sprite-s72077df3ca.png') no-repeat 0 -811px;
}

/* line 12, ../../app/sass/photographer.sass */
#jack-homme {
  text-indent: -9999px;
  width: 263px;
  height: 54px;
  background: url('/img/sprite-s72077df3ca.png') no-repeat 0 -489px;
}

/* line 15, ../../app/sass/photographer.sass */
#loki-femme {
  text-indent: -9999px;
  width: 263px;
  height: 54px;
  background: url('/img/sprite-s72077df3ca.png') no-repeat 0 -629px;
}

/* line 18, ../../app/sass/photographer.sass */
#minshi-femme {
  text-indent: -9999px;
  width: 263px;
  height: 54px;
  background: url('/img/sprite-s72077df3ca.png') no-repeat 0 -757px;
}

/* line 21, ../../app/sass/photographer.sass */
#jack-femme {
  text-indent: -9999px;
  width: 263px;
  height: 54px;
  background: url('/img/sprite-s72077df3ca.png') no-repeat 0 -435px;
}
