.gallery-desc
  position: absolute
  bottom: 0
  left: 0

#gallery
  position: relative

  img
    float: left

#first-gallery-img
  border-right: 1px solid black

#last-gallery-img
  border-left: 1px solid black

#gallery-nav
  width: 476px
  padding: 0 10px
  font-size: 9px
  position: absolute
  left: 263px
  bottom: 0

#gallery-nav-pages

  .selected
    float: left
    padding: 2px 3px
    color: white
    text-decoration: underline

.gallery-nav-item
  float: left
  padding: 2px 3px
  color: #ccc
  &:hover
    color: white
    text-decoration: underline

#gender-type
  position: absolute
  right: 10px
  bottom: 0
  font-style: italic

  a
    color: #ccc
    &:hover, &.selected
      color: white
      text-decoration: underline
