/* line 6, ../../../app/sass/common/gallery_nav.sass */
.gallery-desc {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 10, ../../../app/sass/common/gallery_nav.sass */
#gallery {
  position: relative;
}
/* line 13, ../../../app/sass/common/gallery_nav.sass */
#gallery img {
  float: left;
}

/* line 16, ../../../app/sass/common/gallery_nav.sass */
#first-gallery-img {
  border-right: 1px solid black;
}

/* line 19, ../../../app/sass/common/gallery_nav.sass */
#last-gallery-img {
  border-left: 1px solid black;
}

/* line 22, ../../../app/sass/common/gallery_nav.sass */
#gallery-nav {
  background: url("/img/photographer/nav/photographer-nav-bg.png") no-repeat;
  width: 476px;
  padding: 7px 10px 0;
  font-size: 9px;
  position: absolute;
  left: 264px;
  bottom: 0;
}

/* line 33, ../../../app/sass/common/gallery_nav.sass */
#gallery-nav-pages .selected {
  float: left;
  padding: 2px 3px;
  color: white;
  text-decoration: underline;
}

/* line 39, ../../../app/sass/common/gallery_nav.sass */
#photo-previous, #photo-next {
  position: absolute;
  bottom: 0px;
}

/* line 43, ../../../app/sass/common/gallery_nav.sass */
.nav_disable {
  opacity: 0.4;
  cursor: default;
}

/* line 47, ../../../app/sass/common/gallery_nav.sass */
#photo-previous {
  left: -264px;
  text-indent: -9999px;
  width: 263px;
  height: 27px;
  background: url('/img/sprite-sdcce2ec0f4.png') no-repeat 0 -914px;
}

/* line 51, ../../../app/sass/common/gallery_nav.sass */
#photo-next {
  right: -264px;
  text-indent: -9999px;
  width: 263px;
  height: 27px;
  background: url('/img/sprite-sdcce2ec0f4.png') no-repeat 0 -887px;
}

/* line 55, ../../../app/sass/common/gallery_nav.sass */
.gallery-nav-item {
  float: left;
  padding: 2px 3px;
  color: #cccccc;
}
/* line 59, ../../../app/sass/common/gallery_nav.sass */
.gallery-nav-item:hover {
  color: white;
  text-decoration: underline;
}

/* line 63, ../../../app/sass/common/gallery_nav.sass */
#gender-type {
  position: absolute;
  right: 10px;
  bottom: 0;
  font-style: italic;
}
/* line 69, ../../../app/sass/common/gallery_nav.sass */
#gender-type a {
  color: #cccccc;
}
/* line 71, ../../../app/sass/common/gallery_nav.sass */
#gender-type a:hover, #gender-type a.selected {
  color: white;
  text-decoration: underline;
}
